* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: sans-serif;
    padding: 5em;
    background-color: rgb(233, 232, 232);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pallete {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    gap: 10px;
}

.box {
    height: 200px;
}

button {
    padding: .2em 1em;
    background-color: black;
    color: white;
}